*{
    color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--bg);
}
:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}
ul{
    font-family: Helvetica, sans-serif;
}
li{
    list-style: circle;
}
.lista{
    list-style: square;
}
:root {
    --background-color: white;
    --text-color: black;
}

/* Estilos para o tema claro */
.light-theme {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Define as variáveis de cor para o tema escuro */
.dark-theme {
    --background-color: black;
    --text-color: white;
}

/* Estilos para o tema escuro */
.dark-theme {
    background-color: var(--background-color);
    color: var(--text-color);
}



    
